body{
  color: #40514E;
  margin:0;
  text-align: center;
 font-family: 'Merriweather', serif;}
h1{
  margin:20px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  color: #005555;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color:#FF0063;
}
h3{
  font-family: 'Montserrat', sans-serif;

}

p{
  line-height: 2;
}

.contact-para{
  padding-bottom: 50px;
}

hr{
  border: dotted #D0C9C0 4px;
  border-bottom: none;
  width: 4%;
  margin:100px auto;
}

a{
 color:#11999e;
 font-family: 'Montserrat', sans-serif;
 margin: 10px 20px;
 text-decoration:none;
}

a:hover{
  color: #eaf6fe;
}

.copywrite{
  color: #eaf6fe;
  font-size: 0.75rem;
  padding: 20px 0;
}

.para{
  font-size: 2rem;
  color:#005555;
}

.skill-row{
width:50%;
margin:100px auto 100px auto;
text-align: left;
line-height:3;
}

.profile-pic{
  width: 25%;
}
.clown-img{
  width: 25%;
  float: left;
  margin-left: 30px;
}

.monalisa-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.top-container{
  background-color:#66BFBF;
  padding-top: 100px;

}

.middle-container{

}

.bottom-container{
 margin: 100px auto 0 auto;
 background-color:#66BFBF;
 padding: 50px 0 20px;

}

.btn{
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 50px auto;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
